@charset "UTF-8";
.brand-list {
	display: flex;
	gap: 36px 24px;
	flex-wrap: wrap;
	justify-content: center;
		@media screen and (max-width: 1079px) {
		gap: 20px 16px;
	}
}
.brand-card {
	$this: &;
	display: block;
	width: 100%;
	max-width: 160px;
	min-width: 100px;
	flex: 0 0 calc(33.333% - 14px);
	&__img {
		position: relative;
		width: 100%;
		height: 0;
		padding-top: 100%;
		border-radius: 8px;
		overflow: hidden;
		&::before {
			z-index: 1;
			content: "";
			position: absolute;
			inset: 0;
			background: rgba(0, 0, 0, 0.3);
		}
		&::after {
			z-index: 1;
			content: "BRAND SHOP";
			position: absolute;
			inset-inline: 0;
			bottom: 0;
			padding: 12px 0;
			font-size: 1.2rem;
			font-weight: 500;
			color: #fff;
			text-align: center;
			background-color: rgba(0, 0, 0, 0.4);
			@media screen and (max-width: 1079px) {
				display: none;
			}
		}
		&-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 0.3s;
		}
		&-logo {
			z-index: 2;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 80%;
			object-fit: contain;
			transition: transform 0.3s;
		}
	}
	&:hover #{$this}__img-bg {
		transform:  scale(1.15);
	}
	&:hover #{$this}__img-logo {
		transform: translate(-50%, -50%) scale(1.15);
	}
	&__tit {
		margin-top: 12px;
		font-size: 2rem;
		font-weight: 700;
		line-height: 1.42;
		text-align: center;
		@media screen and (max-width: 1079px) {
			margin-top: 4px;
			font-size: 1.4rem;
		}
	}
}
