@charset "UTF-8";
/* Common */
:root {
  --color-primary: #1b1e23;
  --color-danger: #ff0000;
  --color-text-light: #abb2be;
  --color-text-gray: #5c6677;
  --color-text-prd: #3d444f;
  --color-border: #dde0e5;

  --header-height: 124px;
  --mo-header-height: 60px;
}

html {
  font-size: 62.5%;
  /* 16px * 0.625 = 10px */
}

body {
  min-height: 100vh;
  font-family: "Noto Sans KR", sans-serif;
  color: var(--color-primary);
  font-size: 1.6rem;

  &.no_scroll {
    overflow: hidden;
  }
}
.wrap {
  position: relative;
}
#container {
  position: relative;
  padding-top: var(--header-height);
  @media screen and (max-width: 1079px) {
    padding-top: var(--mo-header-height);
  }
}

#container .breadcrumb {
  position: absolute;
  top: 20px;
  z-index: 10;
}
.divider {
  margin: 0;
  overflow: hidden;
  border: 0;
  width: 100%;
  height: 8px;
  background-color: #eef0f2;
}
.hide {
  font-size: 0;
  text-indent: -9999em;
  overflow: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  line-height: 0;
}
/* Color */
.text-primary {
  color: var(--color-primary) !important;
}

.text-danger {
  color: var(--color-danger) !important;
}

/* Badge */
.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 30px;
  border-radius: 9999px;
  padding: 0 10px;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  background-color: #c9e1fd; /* BO지정 */
}
/* Button */
.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0 24px;
  height: 40px;
  background-color: var(--color-primary);
  border-radius: 4px;
  font-size: 1.4rem;
  color: #fff;
}

/* Swiper */
.ui-swiper {
  .swiper-navigation-icon {
    display: none !important;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 44px;
    height: 44px;
  }
  .swiper-button-prev {
    left: -30px;
    background: url("../images/icon/ico-arrow.svg") center/contain no-repeat;
    transform: rotate(180deg);
  }
  .swiper-button-next {
    right: -30px;
    background: url("../images/icon/ico-arrow.svg") center/contain no-repeat;
  }
}
.ui-swiper .swiper-pagination {
  $this: &;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &--dot {
    bottom: 14px;
    &.swiper-pagination-bullets .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      border-radius: 100%;
      & + .swiper-pagination-bullet {
        margin-left: 8px;
      }
    }
  }
  &-bullets .swiper-pagination-bullet {
    display: block;
    width: 120px;
    height: 3px;
    margin: 0;
    border-radius: 0;
    opacity: 1;
    cursor: pointer;
    background-color: var(--color-border);
    &-active {
      background-color: var(--color-primary);
    }
    @media screen and (max-width: 1079px) {
      width: 8px;
      height: 8px;
      border-radius: 100%;
      & + .swiper-pagination-bullet {
        margin-left: 8px;
      }
    }
  }
}
.sec__inner {
  max-width: 1396px;
  margin: 0 auto;
  padding-inline: 20px;
  width: 100%;
}
.pc-hide {
  display: none !important;
  @media screen and (max-width: 1079px) {
    display: block !important;
  }
}
.mo-hide {
  @media screen and (max-width: 1079px) {
    display: none !important;
  }
}
/* Header */
.header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  border-bottom: 1px solid #eef0f2;
  background-color: #fff;
  @media screen and (max-width: 1079px) {
    display: none;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0 0;
    font-size: 13px;
    line-height: 20px;
    color: #555;
  }
  &__main {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }
  &__language {
    position: relative;
    display: flex;
    align-items: center;
    &-btn {
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 1.2rem;
      &::before {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        background: url("../images/icon/ico-gnb-language.svg") center/contain
          no-repeat;
      }
      &::after {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        background: url("../images/icon/ico-arrow.svg") center/contain no-repeat;
        transform: rotate(90deg);
      }
    }
    &-exchange {
      position: relative;
      margin-left: 12px;
      padding-left: 12px;
      font-size: 1.2rem;
      color: var(--color-primary);
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0px;
        width: 1px;
        height: 12px;
        margin-top: -6px;
        background-color: var(--color-border);
      }
    }
  }
  &__menu-btn {
    width: 24px;
    height: 24px;
    margin-right: 20px;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__logo {
    margin-right: auto;
    width: 202px;
    &-img {
      width: 100%;
      height: auto;
    }
  }
  &__search {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 432px;
    overflow: hidden;
    &-box {
      position: relative;
      display: flex;
      align-items: center;
      height: 52px;
    }
    &-input {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      z-index: 1;
      background: #f2f4f7;
      line-height: 1;
      box-sizing: border-box;
      padding: 0 95px 0 20px;
      transition: all 0.3s;
      font-size: 1.6rem;
      border-radius: 99999px;
      border: 2px solid transparent;
      & ~ label {
        opacity: 0;
        transition: all 0.3s;
        width: 100%;
        height: 100%;
        &::after {
          content: "";
          position: absolute;
          inset: 0;
          height: 100%;
          padding: 2px;
          border-radius: 99999px;
          background-image: linear-gradient(
            97deg,
            #ea2829 0%,
            #ea2869 49%,
            #ce28a5 74%,
            #a928ea 100%
          );
        }
      }
      &:focus ~ label,
      &:hover ~ label {
        opacity: 1;
      }
    }
    &-btn {
      position: absolute;
      z-index: 1;
      right: 24px;
      width: 20px;
      height: 20px;
      background: url("/resources/images/icon/ico-gnb-search.svg") no-repeat
        center/contain;
      &--hashtag {
        right: 54px;
        background: url("/resources/images/icon/ico-hashtag.svg") no-repeat
          center/contain;
      }
    }
  }
  &__util {
    position: relative;
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 1.3rem;
    color: var(--color-text-gray);
    &-link {
      flex: none;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -12px;
        transform: translateY(-50%);
        width: 1px;
        height: 16px;
        background-color: var(--color-border);
      }
      &:last-child::after {
        display: none;
      }
    }
  }
  &__btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__btn {
    display: block;
    width: 46px;
    height: 46px;
    &::after {
      content: "";
      display: block;
      width: 28px;
      height: 28px;
      margin: 0 auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0 0;
    }
    &--cart {
      &::after {
        background-image: url("../images/icon/ico-gnb-cart.svg");
      }
    }
    &--mypage {
      &::after {
        background-image: url("../images/icon/ico-gnb-my.svg");
      }
    }
    &:hover {
      &::after {
        background-position: 0 -28px;
      }
    }
    &--curation {
      background-position: center;
      background-image: linear-gradient(
        135deg,
        #ea2829,
        #ea2869 51%,
        #ce28a5 80%,
        #a928ea
      );
      border-radius: 8px;
      &::after {
        width: 100%;
        height: 100%;
        background: url("../images/icon/ico-gnb-curation.png") center/contain
          no-repeat;
        transition: all 0.3s ease;
      }
      &:hover {
        &::after {
          background-position: center;
          transform: scale(1.2);
        }
      }
    }
  }
}
.mo-header {
  display: none;
  @media screen and (max-width: 1079px) {
    display: flex;
  }
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--mo-header-height);
  padding: 0 20px;
  background-color: #fff;
  &__tit {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-inline: 20px;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__btns {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  &__btn {
    flex: none;
    width: 24px;
    height: 24px;
    img {
      width: 100%;
      height: auto;
    }
    &-cart {
      position: relative;
      top: -2px;
      display: block;
      background: url("../images/icon/ico-gnb-cart.svg") no-repeat;
    }
  }
}
/* Footer */
.footer {
  $this: &;
  background: var(--color-primary);
  color: var(--color-text-light);
  &__inner {
    display: flex;
    width: 100%;
    max-width: 1300px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-inline: 20px;
    @media screen and (max-width: 1079px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  &__menu {
    padding-block: 15px 14px;
    background-color: #282c34;
    @media screen and (max-width: 1079px) {
      overflow-x: auto;
      background-color: transparent;
    }
  }
  &__sns {
    margin-bottom: 24px;
    &__item {
      display: inline-block;
      width: 37px;
      height: 37px;
      text-indent: -9999px;
      background: url("../images/icon/icon_footer.png") no-repeat;
      border-radius: 100%;
      & + & {
        margin-left: 8px;
      }
      &--facebook {
        background-position: 0 -12px;
      }
      &--instagram {
        background-position: 0 -49px;
      }
    }
  }
  &__link-list {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 15px 0 14px;
    font-size: 1.4rem;
    li {
      flex: none;
    }
    strong {
      font-weight: 700;
    }
  }
  &__family {
    .dropdown {
      min-width: 174px;
      &__value {
        height: 32px;
        padding: 10px 30px 10px 10px;
        border-radius: 0;
        border: 0;
        background: #353b45;
        font-size: 1.3rem;
        color: #9aa3b1;
        &::before {
          content: "";
          position: absolute;
          right: 32px;
          width: 1px;
          height: 100%;
          background-color: var(--color-text-gray);
        }
        &::after {
          right: 0;
          width: 30px;
          height: 10px;
          background: url("../images/icon/icon_footer.png") -1px 3px no-repeat;
        }
      }
      &__list {
        top: 32px;
        border: 0;
        border-top: 1px solid var(--color-text-gray);
        border-radius: 0;
        background: #353b45;
        font-size: 1.3rem;
        letter-spacing: -1px;
        &.dropdown__list-group {
          color: #9aa3b1;
          .list_tit {
            color: var(--color-text-gray);
            padding: 10px;
            height: 30px;
          }
          .dropdown__list-group_opt {
            ul > li {
              height: 30px;
              padding: 0px 10px 0px 10px;
            }
            li:not(.dropdown__list-group_opt):hover {
              background-color: transparent;
              color: #fff;
            }
            & + li {
              border: 0;
              margin-top: 10px;
              padding-top: 0;
            }
          }
        }
      }
    }
  }
  &__info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px 0 48px;
    font-size: 1.3rem;
    color: var(--color-text-gray);
    #{$this}__inner {
      gap: 30px 0;
    }
    @media screen and (max-width: 1079px) {
      padding: 12px 0 16px;
    }
    &__btn {
      display: inline-block;
      height: 24px;
      margin-top: 4px;
      padding: 0 10px;
      font-size: 1.2rem;
      line-height: 24px;
      color: #9aa3b1;
      background: #353b45;
    }
    strong {
      display: block;
      font-weight: 700;
    }
    &-escrow {
      line-height: 1.46;
    }
    &__company {
      @media screen and (max-width: 1079px) {
        width: 100%;
      }
      ul {
        @media screen and (max-width: 1079px) {
          padding: 16px 0;
          display: none;
        }
        li {
          line-height: 1.76;
          & + li {
            margin-top: 4px;
          }
          span {
            position: relative;
            display: inline-block;
            padding-left: 15px;
            margin-left: 15px;
            &:first-child {
              padding-left: 0;
              margin-left: 0;
              &::before {
                display: none;
              }
            }
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 0;
              width: 1px;
              height: 10px;
              margin-top: -5px;
              background-color: #777;
            }
            @media screen and (max-width: 1079px) {
              display: block;
              padding-left: 0;
              margin-left: 0;
              &::before {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  &__logo {
    @media screen and (max-width: 1079px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    a {
      display: block;
      width: 140px;
      margin-bottom: 24px;
      @media screen and (max-width: 1079px) {
        margin-bottom: 0;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    strong {
      font-size: 1.8rem;
      line-height: 1.34;
    }
    &-btn {
      cursor: pointer;
      width: 16px;
      height: 16px;
      margin-left: 8px;
      background: url("../images/icon/ico-dropdown.png") center/contain
        no-repeat;
    }
  }
  &__copyright {
    width: 100%;
    flex: none;
  }
  &__prize {
    border-top: 1px solid rgba(92, 102, 119, 0.3);
    padding: 32px 0 80px;
    @media screen and (max-width: 1079px) {
      padding: 32px 0 100px;
    }
    &-list {
      display: flex;
      gap: 32px 0;
      flex-wrap: wrap;
      @media screen and (max-width: 1079px) {
        gap: 10px 0;
      }
    }
    &-item {
      flex: 0 1 25%;
      display: flex;
      gap: 8px;
      align-items: center;
      font-size: 1.3rem;
      line-height: 1.6;
      color: var(--color-text-gray);
      text-align: left;
      @media screen and (max-width: 1299px) {
        flex: 0 1 33.33%;
      }
      @media screen and (max-width: 1079px) {
        flex: 0 1 100%;
      }
      &::before {
        flex: none;
        content: "";
        display: inline-block;
        width: 48px;
        height: 48px;
        background: url("../images/icon/ico-footer-prize.png") no-repeat;
      }
      &.ismsp::before {
        background-position: 0 0;
      }

      &.eprivacy::before {
        background-position: 0 -56px;
      }

      &.cbpr::before {
        background-position: 0 -112px;
      }

      &.iso_27001::before {
        background-position: 0 -168px;
      }

      &.iso_27701::before {
        background-position: 0 -224px;
      }

      &.award::before {
        background-position: 0 -280px;
      }

      &.ccm::before {
        background-position: 0 -336px;
      }
    }
  }
}

/* Spinner */
.spinner {
  $this: &;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  width: 120px;
  height: 32px;
  @media screen and (max-width: 1079px) {
    width: 85px;
  }
  & > * {
    flex: none;
  }
  &__input {
    width: 50px;
    color: var(--color-primary);
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
  }
  &__btn {
    width: 32px;
    height: 32px;
    @media screen and (max-width: 1079px) {
      width: 24px;
      height: 24px;
    }
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: url("../images/icon/ico_spinner_down-900.svg") center /
        contain no-repeat;
      //background-color:$gray-900 !important;
    }
    &:disabled {
      background-color: transparent !important;
    }
    &--up:disabled::before {
      background: url("../images/icon/ico_spinner_up-300.svg") center / contain
        no-repeat;
    }
    &--down:disabled::before {
      background: url("../images/icon/ico_spinner_down.svg") center / contain
        no-repeat;
    }
    &--up {
      &::before {
        background: url("../images/icon/ico_spinner_up.svg") center / contain
          no-repeat;
      }
    }
  }
  &.disabled {
    #{this}__input {
      background-color: transparent;
      color: #555;
    }
    #{this}__btn {
      background-color: transparent !important;
      &--up::before {
        background: url("../images/icon/ico_spinner_up-300.svg") center/contain
          no-repeat;
      }
      &--down::before {
        background: url("../images/icon/ico_spinner_down.svg") center/contain
          no-repeat;
      }
    }
  }
}

@keyframes bounceIn {
  0% {
    transform: translateX(-50%) scale(0);
  }
  50% {
    transform: translateX(-50%) scale(1.3);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}

@keyframes moveAndFadeOut {
  0% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
  45% {
    opacity: 0.2;
    top: -3px;
    left: calc(100% - 50px);
    transform: translateX(-50%) scale(0.1);
  }
  100% {
    opacity: 0;
    top: -3px;
    left: calc(100% - 50px);
    transform: translateX(-50%) scale(0);
  }
}

@keyframes showTxt {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes hideTxt {
  0% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
}

@keyframes dropUp {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  30% {
    opacity: 1;
    transform: scale(1.2);
  }
  60% {
    opacity: 1;
    transform: scale(1);
  }
  95% { opacity: .2; }
  100% { transform: scale(.3); opacity: 0; }
}

// 카트담기
.cart-msg {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  &.active {
    display: block;
    .cart-msg__ani {
      display: block;
      animation: bounceIn 0.4s ease-in-out forwards,
        moveAndFadeOut 0.8s ease-in-out 0.5s forwards;
    }
    .cart-msg__text {
      top: 80px;
      animation: showTxt 0.6s 1s ease-in-out forwards,
        hideTxt 0.5s 2.2s ease-in-out forwards;
    }
  }
  &__ani {
    display: none;
    position: fixed;
    top: 166px;
    left: 50%;
    transform: translateX(-50%) scale(1);
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background: #222;
    border-radius: 50%;
    span {
      display: block;
      width: 48px;
      height: 48px;
      flex: none;
      background: url("../images/icon/ico-cart-float.svg") center/36px no-repeat;
    }
  }
  &__text {
    position: fixed;
    top: 56px;
    left: 50%;
    white-space: nowrap;
    background: #2a3136;
    border-radius: 30px;
    opacity: 0;
    height: 50px;
    padding: 0 20px;
    font-size: 13px;
    z-index: 1000;
    color: #fff;
    transform: translateX(-50%);
    text-align: center;
    p {
      margin-bottom: 6px;
      color: #fff;
      line-height: 50px;
    }
  }
}

/* 상품 카트담기 액션 */
.ani__cart {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  transform: translate(-50%, -50%);
  z-index: 1;
  &.active {
    display: block;
    .ir_cart {
      animation: dropUp 1s ease forwards;
    }
  }
  .cart-msg__text {
    position: fixed;
    top: 0;
    animation: showTxt 0.6s 1s ease-in-out forwards,
      hideTxt 0.6s 2s ease-in-out forwards;
  }
  .ir_cart {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 16px;
    background-color: rgba(92, 102, 119, 0.3);
    overflow: hidden;
    @media screen and (max-width: 1079px){
      width: 120px;
      height: 120px;
    }
    img {
      width: 80%;
      height: 80%;
      object-fit: cover;
      border-radius: 50%;
      overflow: hidden;
    }
  }
}


/* 검색박스 */
.search-box {
  position: relative;
  display: flex;
  align-items: center;
  padding: 18px 0;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    width: calc(100% - 20px);
    height: 2px;
    background-color: var(--color-primary);
  }
  &__close {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: url("../images/icon/ico-arrow-right.svg") center/contain
      no-repeat;
  }
  &__input {
    width: 100%;
    padding-inline: 56px 50px;
  }
  &__btn {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url("../images/icon/ico-gnb-search.svg");
  }
}
