.notice__tit {
	display: flex;
	align-items: center;
	gap: 4px;
	margin-bottom: 10px;
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 1.43;
	color: #515862;
	&::before {
		content: "";
		display: inline-block;
		width: 16px;
		height: 16px;
		background: url("../images/icon/ico-attention.svg") center/contain no-repeat;
	}
}
.notice__list {
	list-style-type: disc;
	margin-left: 10px;
	padding-left: 8px;
}
.notice__item {
	font-size: 1.3rem;
	text-indent: -8px;
	line-height: 1.3;
	color: #9DA5B0;
}
.event-template {
	position: relative;
	.tab_menu {
		max-width: 420px;
		margin: 20px auto 0;
	}
}
/* 이벤트 상단 */
.event-top {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-top: 80px;
	&__back::before {
		content: "";
		position: absolute;
		top: 0;
		inset-inline: 0;
		width: 100%;
		height: 410px;
		background: inherit;
	}
	&__inner {
		position: relative;
		z-index: 1;
		max-width: 576px;
		* {
			color: inherit;
		}
	}
	&__img {
		position: relative;
		z-index: 1;
		max-width: 804px;
		height: 512px;
		margin: 0 auto;
		border-radius: 16px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 16px;
			overflow: hidden;
		}
	}
	&__period {
		font-size: 1.6rem;
		line-height: 1.5;
	}
	&__tit {
		margin-top: 12px;
		font-size: 4.6rem;
		font-weight: 700;
		line-height: 1.3;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&__subtit {
		margin-top: 24px;
		font-size: 1.6rem;
		line-height: 1.5;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&__img {
		margin-top: 40px;
	}
}
/* 이벤트 탭메뉴 */
.event-tab{
	text-align: center;
}
/* 이벤트 콘텐츠단 */
.event-content{
  &__box {
    display: flex;
    flex-direction: column;
    margin-block: 80px 100px;
    align-items: center;
    text-align: center;
    .badge {
      margin-bottom: 12px;
    }
  }
  &__tit {
    margin-bottom: 12px;
    font-size: 3.4rem;
    line-height: 1.35;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__subtit {
    margin-bottom: 24px;
    font-size: 1.8rem;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__cont {
    position: relative;
    margin-top: 24px;
  }
  .swiper-brand {
    overflow: hidden;
    max-width: 1080px;
    margin: 0 44px;
    padding: 0 0 32px;
		@media screen and (max-width: 1079px){
			.swiper-wrapper{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				gap: 32px 24px;
			}
			.swiper-button-next,.swiper-button-prev{
				display: none;
			}
			.brand-card{
				flex: 1 1 calc(33.333% - 24px);
				max-width: 160px;
			}
		}
  }
	.swiper-sale_prd{
    overflow: hidden;
    max-width: 810px;
    margin: 0 auto;
    padding: 0 0 40px;
	}
}
/* 이벤트 하단 */
.event-bottom {
	padding: 48px 0 80px;
	background-color: #f9fafb;
	&__inner {
		max-width: 1080px;
		margin: 0 auto;
		padding: 0 20px;
	}
	.notice {
		margin-top: 32px;
		padding-top: 40px;
		border-top: 1px dashed var(--color-border);
	}
}
