@charset "UTF-8";
/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  line-height: inherit;
}

select:focus, input:focus, textarea:focus, button:focus {
  outline: none;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

/* Font */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(../font/NotoSansKR-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(../font/NotoSansKR-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(../font/NotoSansKR-Bold.woff2) format("woff2");
}
/* Common */
:root {
  --color-primary: #1b1e23;
  --color-danger: #ff0000;
  --color-text-light: #abb2be;
  --color-text-gray: #5c6677;
  --color-text-prd: #3d444f;
  --color-border: #dde0e5;
}

html {
  font-size: 62.5%;
  /* 16px * 0.625 = 10px */
}

body {
  min-height: 100vh;
  font-family: "Noto Sans KR", sans-serif;
  color: var(--color-primary);
  font-size: 1.6rem;
}

#container {
  position: relative;
}

#container .breadcrumb {
  position: absolute;
  top: 20px;
  z-index: 10;
}

.hide {
  font-size: 0;
  text-indent: -9999em;
  overflow: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  line-height: 0;
}

/* Color */
.text-primary {
  color: var(--color-primary) !important;
}

.text-danger {
  color: var(--color-danger) !important;
}

/* Badge */
.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 30px;
  border-radius: 9999px;
  padding: 0 10px;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  background-color: #c9e1fd; /* BO지정 */
}

/* Swiper */
.ui-swiper .swiper-navigation-icon {
  display: none !important;
}
.ui-swiper .swiper-button-prev,
.ui-swiper .swiper-button-next {
  width: 44px;
  height: 44px;
}
.ui-swiper .swiper-button-prev {
  left: -30px;
  background: url("../images/icon/ico-arrow.svg") center/contain no-repeat;
  transform: rotate(180deg);
}
.ui-swiper .swiper-button-next {
  right: -30px;
  background: url("../images/icon/ico-arrow.svg") center/contain no-repeat;
}

.ui-swiper .swiper-pagination {
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ui-swiper .swiper-pagination--dot {
  bottom: 14px;
}
.ui-swiper .swiper-pagination--dot.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 100%;
}
.ui-swiper .swiper-pagination--dot.swiper-pagination-bullets .swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 8px;
}

.swiper-horizontal .swiper-pagination-bullets .swiper-pagination-bullet {
  display: block;
  width: 120px;
  height: 3px;
  margin: 0;
  border-radius: 0;
  opacity: 1;
  cursor: pointer;
  background-color: var(--color-border);
}
.swiper-horizontal .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: var(--color-primary);
}

.sec__inner {
  max-width: 1396px;
  margin: 0 auto;
  padding-inline: 20px;
  width: 100%;
}

@media screen and (max-width: 1079px) {
  .mo-hide {
    display: none !important;
  }
}

/* Header */
.header {
  border-bottom: 1px solid #eef0f2;
  background-color: #fff;
}
@media screen and (max-width: 1079px) {
  .header {
    display: none;
  }
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0 0;
  font-size: 13px;
  line-height: 20px;
  color: #555;
}
.header__main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.header__language {
  position: relative;
  display: flex;
  align-items: center;
}
.header__language-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 1.2rem;
}
.header__language-btn::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("../images/icon/ico-gnb-language.svg") center/contain no-repeat;
}
.header__language-btn::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url("../images/icon/ico-arrow.svg") center/contain no-repeat;
  transform: rotate(90deg);
}
.header__language-exchange {
  position: relative;
  margin-left: 12px;
  padding-left: 12px;
  font-size: 1.2rem;
  color: var(--color-primary);
}
.header__language-exchange::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 1px;
  height: 12px;
  margin-top: -6px;
  background-color: var(--color-border);
}
.header__menu-btn {
  width: 24px;
  height: 24px;
  margin-right: 20px;
}
.header__menu-btn img {
  width: 100%;
  height: auto;
}
.header__logo {
  margin-right: auto;
  width: 202px;
}
.header__logo-img {
  width: 100%;
  height: auto;
}
.header__search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 432px;
  overflow: hidden;
}
.header__search-box {
  position: relative;
  display: flex;
  align-items: center;
  height: 52px;
}
.header__search-input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  z-index: 1;
  background: #f2f4f7;
  line-height: 1;
  box-sizing: border-box;
  padding: 0 95px 0 20px;
  transition: all 0.3s;
  font-size: 1.6rem;
  border-radius: 99999px;
  border: 2px solid transparent;
}
.header__search-input ~ label {
  opacity: 0;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
}
.header__search-input ~ label::after {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  padding: 2px;
  border-radius: 99999px;
  background-image: linear-gradient(97deg, #ea2829 0%, #ea2869 49%, #ce28a5 74%, #a928ea 100%);
}
.header__search-input:focus ~ label, .header__search-input:hover ~ label {
  opacity: 1;
}
.header__search-btn {
  position: absolute;
  z-index: 1;
  right: 24px;
  width: 20px;
  height: 20px;
  background: url("/resources/images/icon/ico-gnb-search.svg") no-repeat center/contain;
}
.header__util {
  position: relative;
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 1.3rem;
  color: var(--color-text-gray);
}
.header__util-link {
  flex: none;
  position: relative;
}
.header__util-link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -12px;
  transform: translateY(-50%);
  width: 1px;
  height: 16px;
  background-color: var(--color-border);
}
.header__util-link:last-child::after {
  display: none;
}
.header__btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__btn {
  display: block;
  width: 46px;
  height: 46px;
}
.header__btn::after {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.header__btn--cart::after {
  background-image: url("../images/icon/ico-gnb-cart.svg");
}
.header__btn--mypage::after {
  background-image: url("../images/icon/ico-gnb-my.svg");
}
.header__btn:hover::after {
  background-position: 0 -28px;
}
.header__btn--curation {
  background-position: center;
  background-image: linear-gradient(135deg, #ea2829, #ea2869 51%, #ce28a5 80%, #a928ea);
  border-radius: 8px;
}
.header__btn--curation::after {
  width: 100%;
  height: 100%;
  background: url("../images/icon/ico-gnb-curation.png") center/contain no-repeat;
  transition: all 0.3s ease;
}
.header__btn--curation:hover::after {
  background-position: center;
  transform: scale(1.2);
}

.mo-header {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background-color: #fff;
}
@media screen and (max-width: 1079px) {
  .mo-header {
    display: flex;
  }
}
.mo-header__tit {
  padding-inline: 20px;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mo-header__btns {
  display: flex;
  align-items: center;
  gap: 16px;
}
.mo-header__btn {
  flex: none;
  width: 24px;
  height: 24px;
}
.mo-header__btn img {
  width: 100%;
  height: auto;
}
.mo-header__btn-cart {
  position: relative;
  top: -2px;
  display: block;
  background: url("../images/icon/ico-gnb-cart.svg") no-repeat;
}

/* Footer */
.footer {
  background: var(--color-primary);
  color: var(--color-text-light);
}
.footer__inner {
  display: flex;
  width: 100%;
  max-width: 1300px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-inline: 20px;
}
@media screen and (max-width: 1079px) {
  .footer__inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.footer__menu {
  padding-block: 15px 14px;
  background-color: #282c34;
}
@media screen and (max-width: 1079px) {
  .footer__menu {
    background-color: transparent;
  }
}
.footer__sns {
  margin-bottom: 24px;
}
.footer__sns__item {
  display: inline-block;
  width: 37px;
  height: 37px;
  text-indent: -9999px;
  background: url("../images/icon/icon_footer.png") no-repeat;
  border-radius: 100%;
}
.footer__sns__item + .footer__sns__item {
  margin-left: 8px;
}
.footer__sns__item--facebook {
  background-position: 0 -12px;
}
.footer__sns__item--instagram {
  background-position: 0 -49px;
}
.footer__link-list {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 15px 0 14px;
  font-size: 1.4rem;
}
.footer__link-list li {
  flex: none;
}
.footer__link-list strong {
  font-weight: 700;
}
.footer__family .dropdown {
  min-width: 174px;
}
.footer__family .dropdown__value {
  height: 32px;
  padding: 10px 30px 10px 10px;
  border-radius: 0;
  border: 0;
  background: #353b45;
  font-size: 1.3rem;
  color: #9aa3b1;
}
.footer__family .dropdown__value::before {
  content: "";
  position: absolute;
  right: 32px;
  width: 1px;
  height: 100%;
  background-color: var(--color-text-gray);
}
.footer__family .dropdown__value::after {
  right: 0;
  width: 30px;
  height: 10px;
  background: url("../images/icon/icon_footer.png") -1px 3px no-repeat;
}
.footer__family .dropdown__list {
  top: 32px;
  border: 0;
  border-top: 1px solid var(--color-text-gray);
  border-radius: 0;
  background: #353b45;
  font-size: 1.3rem;
  letter-spacing: -1px;
}
.footer__family .dropdown__list.dropdown__list-group {
  color: #9aa3b1;
}
.footer__family .dropdown__list.dropdown__list-group .list_tit {
  color: var(--color-text-gray);
  padding: 10px;
  height: 30px;
}
.footer__family .dropdown__list.dropdown__list-group .dropdown__list-group_opt ul > li {
  height: 30px;
  padding: 0px 10px 0px 10px;
}
.footer__family .dropdown__list.dropdown__list-group .dropdown__list-group_opt li:not(.dropdown__list-group_opt):hover {
  background-color: transparent;
  color: #fff;
}
.footer__family .dropdown__list.dropdown__list-group .dropdown__list-group_opt + li {
  border: 0;
  margin-top: 10px;
  padding-top: 0;
}
.footer__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 50px 0 48px;
  font-size: 1.3rem;
  color: var(--color-text-gray);
}
.footer__info .footer__inner {
  gap: 30px 0;
}
@media screen and (max-width: 1079px) {
  .footer__info {
    padding: 12px 0 16px;
  }
}
.footer__info__btn {
  display: inline-block;
  height: 24px;
  margin-top: 4px;
  padding: 0 10px;
  font-size: 1.2rem;
  line-height: 24px;
  color: #9aa3b1;
  background: #353b45;
}
.footer__info strong {
  display: block;
  font-weight: 700;
}
.footer__info-escrow {
  line-height: 1.46;
}
@media screen and (max-width: 1079px) {
  .footer__info__company {
    width: 100%;
  }
}
@media screen and (max-width: 1079px) {
  .footer__info__company ul {
    padding: 16px 0;
    display: none;
  }
}
.footer__info__company ul li {
  line-height: 1.76;
}
.footer__info__company ul li + li {
  margin-top: 4px;
}
.footer__info__company ul li span {
  position: relative;
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
}
.footer__info__company ul li span:first-child {
  padding-left: 0;
  margin-left: 0;
}
.footer__info__company ul li span:first-child::before {
  display: none;
}
.footer__info__company ul li span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 10px;
  margin-top: -5px;
  background-color: #777;
}
@media screen and (max-width: 1079px) {
  .footer__info__company ul li span {
    display: block;
    padding-left: 0;
    margin-left: 0;
  }
  .footer__info__company ul li span::before {
    display: none;
  }
}
@media screen and (max-width: 1079px) {
  .footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.footer__logo a {
  display: block;
  width: 140px;
  margin-bottom: 24px;
}
@media screen and (max-width: 1079px) {
  .footer__logo a {
    margin-bottom: 0;
  }
}
.footer__logo a img {
  width: 100%;
  height: auto;
}
.footer__logo strong {
  font-size: 1.8rem;
  line-height: 1.34;
}
.footer__logo-btn {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  background: url("../images/icon/ico-dropdown.png") center/contain no-repeat;
}
.footer__copyright {
  width: 100%;
  flex: none;
}
.footer__prize {
  border-top: 1px solid rgba(92, 102, 119, 0.3);
  padding: 32px 0 80px;
}
@media screen and (max-width: 1079px) {
  .footer__prize {
    padding: 32px 0 100px;
  }
}
.footer__prize-list {
  display: flex;
  gap: 32px 0;
  flex-wrap: wrap;
}
@media screen and (max-width: 1079px) {
  .footer__prize-list {
    gap: 10px 0;
  }
}
.footer__prize-item {
  flex: 0 1 25%;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 1.3rem;
  line-height: 1.6;
  color: var(--color-text-gray);
  text-align: left;
}
@media screen and (max-width: 1299px) {
  .footer__prize-item {
    flex: 0 1 33.33%;
  }
}
@media screen and (max-width: 1079px) {
  .footer__prize-item {
    flex: 0 1 100%;
  }
}
.footer__prize-item::before {
  flex: none;
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  background: url("../images/icon/ico-footer-prize.png") no-repeat;
}
.footer__prize-item.ismsp::before {
  background-position: 0 0;
}
.footer__prize-item.eprivacy::before {
  background-position: 0 -56px;
}
.footer__prize-item.cbpr::before {
  background-position: 0 -112px;
}
.footer__prize-item.iso_27001::before {
  background-position: 0 -168px;
}
.footer__prize-item.iso_27701::before {
  background-position: 0 -224px;
}
.footer__prize-item.award::before {
  background-position: 0 -280px;
}
.footer__prize-item.ccm::before {
  background-position: 0 -336px;
}

/* Breadcrumb */
.breadcrumb {
  display: flex;
  align-items: center;
  gap: 20px;
}
.breadcrumb__item {
  position: relative;
  font-size: 1.4rem;
  line-height: 1.2142;
  text-decoration: none;
}
.breadcrumb__item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background: url("../images/icon/ico-chev-next-24-400.svg") center/contain no-repeat;
}
.breadcrumb__item:last-child::after {
  display: none;
}

.tab_menu {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
.tab_menu ul {
  display: flex;
}
.tab_menu .tab_list {
  position: relative;
  box-sizing: border-box;
  flex: 0;
  scroll-snap-align: start;
}
.tab_menu .tab_list > button, .tab_menu .tab_list > a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 52px;
  padding: 0 20px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}
.tab_menu .tab_list.current > button {
  font-weight: 700;
  z-index: 1;
}
.tab_menu.line_tab {
  position: relative;
}
.tab_menu.line_tab ul::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  width: 100%;
  height: 1px;
}
.tab_menu.line_tab .tab_bar {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 1;
  background-color: transparent;
  transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1) 0s;
  animation: colorchange 0.1s 0.3s forwards;
}
@keyframes colorchange {
  from {
    background-color: transparent;
  }
  to {
    background-color: var(--color-primary);
  }
}
.tab_menu.line_tab .tab_list {
  overflow: hidden;
  flex: 1;
}
.tab_menu.line_tab.is_scroll {
  overflow-x: auto;
}
.tab_menu.line_tab.is_scroll ul {
  width: fit-content;
  padding: 0 20px;
  gap: 20px;
}
.tab_menu.line_tab.is_scroll .tab_list {
  flex: 0;
  overflow: visible;
}
.tab_menu.line_tab.is_scroll .tab_list > button, .tab_menu.line_tab.is_scroll .tab_list > a {
  padding: 0;
}
.tab_menu.is_scroll {
  overflow-x: auto;
}
.tab_menu.is_scroll .tab_list {
  flex: 0;
  overflow: visible;
}

/* SelectBox */
.dropdown {
  display: inline-block;
  position: relative;
  width: 100%;
  min-width: 240px;
  vertical-align: top;
  user-select: none;
}
.dropdown__value {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 12px 56px 12px 12px;
  border-radius: 4px;
  border: 1px solid #bbb;
  background: #fff;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
.dropdown__value > span {
  font: inherit;
}
.dropdown__value.disabled {
  background-color: #dbdbdb;
}
.dropdown__value::after {
  content: "";
  display: block;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}
.dropdown__list {
  display: none;
  position: absolute;
  overflow-y: scroll;
  top: 52px;
  width: 100%;
  height: 350px;
  padding: 0;
  border: 1px solid #bbb;
  border-radius: 4px;
  background: #fff;
  z-index: 10;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
  /* 스크롤 */
}
.dropdown__list::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}
.dropdown__list::-webkit-scrollbar-button:start:decrement, .dropdown__list::-webkit-scrollbar-button:end:increment {
  display: none;
}
.dropdown__list::-webkit-scrollbar-track {
  background: transparent;
}
.dropdown__list::-webkit-scrollbar-thumb {
  background: #1B1E23;
  border-radius: 10px;
}
.dropdown__list::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 8px 8px 0 rgba(26, 24, 24, 0.05);
}
.dropdown__list > ul {
  padding: 4px 0;
}
.dropdown__list li:not(.dropdown__list-group_opt) {
  position: relative;
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  padding: 12px;
  border: none;
  border-radius: 2px;
  transition: all 0.2s ease-out;
  outline: none;
  cursor: pointer;
}
.dropdown__list li:not(.dropdown__list-group_opt) > span {
  font: inherit;
}
.dropdown__list li:not(.dropdown__list-group_opt):hover {
  background-color: #dbdbdb;
}
.dropdown__list.dropdown__list-group .list_tit {
  height: 36px;
  padding: 8px 12px 8px;
}
.dropdown__list.dropdown__list-group > ul > li {
  height: auto;
}
.dropdown__list.dropdown__list-group .dropdown__list-group_opt > ul > li {
  position: relative;
  height: 38px;
  padding: 0px 12px 0px 23px;
  line-height: 38px;
  border: none;
  transition: all 0.2s ease-out;
  outline: none;
}
.dropdown__list.dropdown__list-group .dropdown__list-group_opt + li {
  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px solid #dbdbdb;
}
.dropdown.on .dropdown__list {
  display: block;
}
.dropdown.on .dropdown__value {
  border-color: var(--color-primary);
}
.dropdown.on .dropdown__value::after {
  transform: translateY(-50%) rotate(180deg);
}
.dropdown.disabled .dropdown__value {
  background-color: #dbdbdb;
  color: #666;
}
.dropdown.disabled .dropdown__value span {
  color: inherit;
}
.dropdown.disabled .dropdown__list {
  display: none;
}
.dropdown.disabled.on .dropdown__value {
  border-color: #dbdbdb;
}
.dropdown.disabled.on .dropdown__value::after {
  transform: translateY(-50%) rotate(0);
}

.brand-list {
  display: flex;
  gap: 24px 14px;
  flex-wrap: wrap;
  justify-content: center;
}

.brand-card {
  display: block;
  width: 160px;
  min-width: 160px;
}
.brand-card__img {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 8px;
  overflow: hidden;
}
.brand-card__img::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}
.brand-card__img::after {
  content: "BRAND SHOP";
  position: absolute;
  inset-inline: 0;
  bottom: 0;
  padding: 6px 0;
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.brand-card__img-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}
.brand-card__img-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  object-fit: contain;
  transition: transform 0.3s;
}
.brand-card:hover .brand-card__img-logo {
  transform: translate(-50%, -50%) scale(1.15);
}
.brand-card__tit {
  margin-top: 8px;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
}

.prd-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 24px;
}
@media screen and (max-width: 1079px) {
  .prd-list {
    gap: 32px 10px;
  }
}
.prd-list .prd-card {
  flex: 1 1 calc(25% - 24px);
}
.prd-list__col-3 .prd-card {
  flex: 1 1 calc(33.333% - 24px);
}
@media screen and (max-width: 1079px) {
  .prd-list__col-3 .prd-card {
    flex: 1 1 calc(33.333% - 10px);
  }
}

.prd-card.checked .prd-card__img::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 37%;
  height: 37%;
  transform: translate(-50%, -50%);
  background: url("../images/icon/ico_check_60.svg") no-repeat;
  background-size: cover;
  content: "";
}
.prd-card__cart {
  z-index: 2;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.3) url("../images/icon/ico-product-cart.svg") center/50% no-repeat;
  border-radius: 8px 0px;
}
.prd-card__img {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
  border-radius: 8px;
}
.prd-card__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.prd-card__img::before {
  z-index: 1;
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(12, 54, 122, 0.04);
}
.prd-card__info {
  margin-top: 20px;
}
.prd-card__tit {
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-text-prd);
  line-height: 1.5;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: normal;
  overflow: hidden;
}
.prd-card__price {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 12px 0 0;
  color: var(--color-primary);
  font-size: 1.8rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: var(--color-primary);
}
.prd-card__price-sale {
  color: var(--color-danger);
}
.prd-card__price-original {
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: line-through;
  color: var(--color-text-light);
}

/* 세트상품 */
.set-card {
  max-width: 528px;
  border-radius: 16px;
}
.set-card__cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0 24px;
  height: 40px;
  background: #333;
  border-radius: 4px;
  font-size: 1.4rem;
  color: #fff;
}
.set-card__cart::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("../images/icon/ico-product-cart.svg") no-repeat;
}
.set-card__img {
  overflow: hidden;
  position: relative;
}
.set-card__img img {
  width: 100%;
}
.set-card__img .swiper-slide::before {
  z-index: 2;
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(12, 54, 122, 0.04);
}
.set-card__img .swiper-slide::after {
  z-index: 2;
  content: "";
  position: absolute;
  width: 100%;
  height: 20%;
  left: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgb(204, 204, 204) 0%, rgba(255, 255, 255, 0) 100%);
}
.set-card__info {
  padding: 0 24px;
  border-radius: 0 0 16px 16px;
  border: 1px solid var(--color-border);
  border-top: none;
}
.set-card__com {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.set-card__txt {
  flex: none;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 1.4rem;
  color: var(--color-text-light);
}
.set-card__txt::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  mask-image: url("../images/icon/ico-box.svg");
  background-color: #bbb;
}
.set-card__thumbnail button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  max-width: 32px;
}
.set-card__thumbnail button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.set-card__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-top: 1px solid var(--color-border);
  color: var(--color-primary);
  font-size: 1.8rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: var(--color-primary);
}
.set-card__price-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.set-card__price-sale {
  color: var(--color-danger);
}
.set-card__price-original {
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: line-through;
  color: var(--color-text-light);
}
.set-card__price-original span {
  text-decoration: none;
}

.notice__tit {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.43;
  color: #515862;
}
.notice__tit::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/icon/ico-attention.svg") center/contain no-repeat;
}

.notice__list {
  list-style-type: disc;
  margin-left: 10px;
  padding-left: 8px;
}

.notice__item {
  font-size: 1.3rem;
  text-indent: -8px;
  line-height: 1.3;
  color: #9da5b0;
}

.event-template {
  position: relative;
}
.event-template .tab_menu {
  max-width: 420px;
  margin: 20px auto 0;
}

/* 이벤트 상단 */
.event-top {
  position: relative;
  padding-top: 80px;
}
.event-top__back::before {
  content: "";
  position: absolute;
  top: 0;
  inset-inline: 0;
  width: 100%;
  height: 410px;
  background: inherit;
}
.event-top__box {
  padding-inline: 20px;
}
.event-top__text {
  z-index: 1;
  position: relative;
  max-width: 576px;
  margin: 0 auto;
  text-align: center;
}
.event-top__text * {
  color: inherit;
}
.event-top__img {
  position: relative;
  z-index: 1;
  max-width: 844px;
  height: 512px;
  margin: 0 auto;
  padding-inline: 20px;
  border-radius: 16px;
  overflow: hidden;
}
.event-top__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  overflow: hidden;
}
@media screen and (max-width: 1079px) {
  .event-top__img {
    position: relative;
    height: 0;
    padding-top: 83%;
  }
  .event-top__img img {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
  }
}
.event-top__period {
  font-size: 1.6rem;
  line-height: 1.5;
}
.event-top__tit {
  margin-top: 12px;
  font-size: 4.6rem;
  font-weight: 700;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.event-top__subtit {
  margin-top: 24px;
  font-size: 1.6rem;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.event-top__img {
  margin-top: 40px;
}

/* 이벤트 탭메뉴 */
.event-tab {
  padding-inline: 20px;
  text-align: center;
}

/* 이벤트 콘텐츠단 */
.event-content__box {
  display: flex;
  flex-direction: column;
  margin-block: 80px 100px;
  padding-inline: 20px;
  align-items: center;
  text-align: center;
}
.event-content__box .badge {
  margin-bottom: 12px;
}
.event-content__tit {
  margin-bottom: 12px;
  font-size: 3.4rem;
  line-height: 1.35;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.event-content__subtit {
  margin-bottom: 24px;
  font-size: 1.8rem;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.event-content__cont {
  position: relative;
  margin-top: 24px;
  width: 100%;
}
.event-content__cont--brand {
  max-width: 1220px;
  padding-inline: 20px;
}
.event-content__cont .set-card {
  margin: 0 auto;
}
.event-content .swiper-brand {
  overflow: hidden;
  max-width: 1080px;
  margin: 0 44px;
  padding: 0 0 32px;
}
.event-content .swiper-brand .swiper-button-prev {
  left: 0;
}
.event-content .swiper-brand .swiper-button-next {
  right: 0;
}
@media screen and (max-width: 1079px) {
  .event-content .swiper-brand {
    margin: 0 auto;
  }
  .event-content .swiper-brand .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px 16px;
  }
  .event-content .swiper-brand .swiper-button-next,
  .event-content .swiper-brand .swiper-button-prev,
  .event-content .swiper-brand .swiper-pagination {
    display: none;
  }
  .event-content .swiper-brand .brand-card {
    flex: 1 1 calc(33.333% - 16px);
    max-width: 160px;
  }
}
.event-content .swiper-sale_prd {
  overflow: hidden;
  max-width: 810px;
  margin: 0 auto;
  padding: 0 0 40px;
}

/* 이벤트 하단 */
.event-bottom {
  padding: 48px 0 80px;
  background-color: #f9fafb;
}
.event-bottom__inner {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}
.event-bottom .notice {
  margin-top: 32px;
  padding-top: 40px;
  border-top: 1px dashed var(--color-border);
}/*# sourceMappingURL=style.css.map */