@charset "utf-8";
@import url("reset.css");
/* Common */
body {
  font-family: "Noto Sans KR", sans-serif;
}

/* Color */
.text-primary {
  color: #1B1E23;
}
.text-danger {
  color: #FF3B30;
}
.text-dimed {
  color: #B1B7C3;
}
.color-primary {
  background-color: #ED4141 !important;
}

/* Badge */
.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 20px;
  border-radius: 2px;
  padding: 0 4px;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  background-color: #98E5E8 !important;
}

/* SelectBox */
.select__box {
  display: inline-block;
  position: relative;
  width: 100%;
  min-width: 240px;
  vertical-align: top;
  user-select: none;
}

.select__box_value {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 12px 56px 12px 12px;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
  background: #ffffff;
  -moztransition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  cursor: pointer;
  color: #aaaaaa;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Arita-dotum", "Apple SD Gothic Neo", "AppleGothic", sans-serif;
}

.select__box_value>span {
  display: block;
  overflow: hidden;
  word-break: break-all;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  font: inherit;
}

.select__box_value.disabled {
  background-color: #f6f6f6;
}

.select__box_value::after {
  content: "";
  display: block;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url("../images/icon/ico_dropdown_arr_24-600.svg") center/contain no-repeat;
}

.select__box_list {
  display: none;
  position: absolute;
  top: 52px;
  width: 100%;
  padding: 0;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  background: #ffffff;
  z-index: 10;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
}

.select__box_list::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 8px 8px 0 rgba(26, 24, 24, 0.05);
}

.select__box_list>ul {
  padding: 4px 0;
}

.select__box_list li:not(.list-group_opt) {
  display: block;
  overflow: hidden;
  word-break: break-all;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  padding: 12px;
  border: none;
  border-radius: 2px;
  -moztransition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  outline: none;
  cursor: pointer;
  color: #222222;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.select__box_list li:not(.list-group_opt)>span {
  display: block;
  overflow: hidden;
  word-break: break-all;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  font: inherit;
}

.select__box_list li:not(.list-group_opt):hover {
  background-color: #f6f6f6;
}

.select__box_list.list-group .list_tit {
  height: 36px;
  padding: 8px 12px 8px;
  font-size: 0.8125rem;
  font-weight: 400;
}

.select__box_list.list-group>ul>li {
  height: auto;
}

.select__box_list.list-group .list-group_opt>ul>li {
  position: relative;
  height: 38px;
  padding: 0px 12px 0px 23px;
  line-height: 38px;
  border: none;
  -moztransition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  outline: none;
}

.select__box_list.list-group .list-group_opt+li {
  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px solid #f6f6f6;
}

.select__box.type2 {
  width: 120px;
  min-width: 0;
}

.select__box.type2 .select__box_value {
  height: 40px;
  padding: 0 28px 4px 12px;
  font-size: 14px;
  line-height: 1;
}

.select__box.type2 .select__box_value::after {
  width: 16px;
  height: 16px;
  content: "";
  display: block;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url("../images/icon/ico_arrow.svg") center/contain no-repeat;
}

.select__box.type2 .select__box_list {
  top: 40px;
}

.select__box.type3 {
  display: flex;
  justify-content: flex-end;
  width: auto;
  min-width: auto;
}

.select__box.type3 .select__box_value {
  justify-content: end;
  min-width: auto;
  height: auto;
  padding: 0 12px 0 0;
  font-size: 13px;
  line-height: 1;
  border: 0;
}

.select__box.type3 .select__box_value::after {
  width: 12px;
  height: 12px;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background: url("../images/icon/ico_arrow.svg") center/contain no-repeat;
}

.select__box.type3 .select__box_list {
  min-width: 95px;
  width: auto;
  top: 24px;
}

.select__box.on .select__box_list {
  display: block;
}

.select__box.on .select__box_value {
  border-color: #2a3136;
}

.select__box.on .select__box_value::after {
  transform: translateY(-50%) rotate(180deg);
}

.select__box.disabled .select__box_value {
  background-color: #f6f6f6;
  color: #888888;
}

.select__box.disabled .select__box_value span {
  color: inherit;
}

.select__box.disabled .select__box_list {
  display: none;
}

.select__box.disabled.on .select__box_value {
  border-color: #dbdbdb;
}

.select__box.disabled.on .select__box_value::after {
  transform: translateY(-50%) rotate(0);
}

/* Defalut SelectBox */
.select__box.select__box_defalut {
  background-color: #ffffff;
}

.select__box.select__box_defalut .select__box_value {
  color: #222222;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2143;
}

.select__box.select__box_defalut.disabled {
  background-color: #f6f6f6 !important;
}

.select__box.select__box_defalut.on .select__box_arr::after {
  transform: translateY(-50%) rotate(180deg);
}

.select__box.select__box_defalut select {
  text-align: center;
}

.select__box.select__box_defalut .select__box_value {
  z-index: 1;
  width: 100%;
  height: 40px;
  padding-right: 36px;
}

.select__box.select__box_defalut .select__box_arr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.select__box.select__box_defalut .select__box_arr::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%) rotate(0);
  width: 16px;
  height: 16px;
  background: url("../images/icon/ico_arrow.svg") center/contain no-repeat;
}

select {
  min-width: 80px;
  color: #222222;
  background-color: transparent !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

/* 상품 카드 */
.prd__card.checked .img::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 37%;
  height: 37%;
  transform: translate(-50%, -50%);
  background: url("../images/icon/ico_check_60.svg") no-repeat;
  background-size: cover;
  content: "";
}

.prd__card .prd {
  cursor: pointer;
}

.prd__card .prd .img {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
}

.prd__card .prd .img img {
  width: 100%;
  height: auto;
}

.prd__card .prd .img .badge {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0px;
  height: 22px;
}

.prd__card .prd .tit {
  display: block;
  font-size: 0.9375rem;
  font-weight: 600;
  color: #222222;
  line-height: 1.25rem;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: normal;
  overflow: hidden;
  font-family: "Arita-dotum", "Apple SD Gothic Neo", "AppleGothic", sans-serif;
}

.prd__card .prd .amount {
  display: block;
  margin-top: 6px;
  color: #777777;
  font-family: "Arita-dotum", "Apple SD Gothic Neo", "AppleGothic", sans-serif;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.3846;
}

.prd__card .prd .price,
.prd__card .prd .count {
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
  align-items: center;
  margin: 9px 0 0;
  color: #222222;
  font-size: 1.0625rem;
  line-height: 1.25rem;
}

.prd__card .prd .price span,
.prd__card .prd .count span {
  display: inline-block;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: normal;
}

.prd__card .prd .color_num {
  display: none;
  font-size: 0.9375rem;
  font-weight: 600;
  color: #222222;
}

.prd__card .prd .colorchip,
.prd__card .prd .detail {
  display: flex;
  align-items: flex-start;
  margin-top: 4px;
  gap: 2px;
  color: #444444;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2142;
  font-family: "Arita-dotum", "Apple SD Gothic Neo", "AppleGothic", sans-serif;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: normal;
  overflow: hidden;
}

.prd__card .prd .colorchip img,
.prd__card .prd .detail img {
  width: 14px;
  height: 14px;
  margin: 2px 2px 0 0;
  border-radius: 100%;
  object-fit: cover;
}

.prd__card .bottom {
  display: flex;
  gap: 12px;
}

.prd__card.prd_more {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
}

.prd__card.prd_more a {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  height: 100%;
  width: 100%;
}

.prd__card.prd_more a [class*="ico_"]::before {
  background: url("../images/icon/ico_plus_20-700.svg") center/contain no-repeat;
}

.prd__card.prd_more a span {
  color: #888888;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2142;
}

.prd__card .badge_wrap {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  margin-bottom: 8px;
}





header {
  background: #fff;
}

footer {
  background: #1b1e23;
}

.event__top{
  position: relative;
  height: 410px;
}
.event__top::before{
  content: "";
  position: absolute;
  top: 0;
  inset-inline: 0;
  width: 100%;
  height: 410px;
  background: #98E5E8;
}